
/* header  */


.rectangle{

    background-color: white;
    height: 2px;
    width: 30px;

}

body{
    background-color: black;
}

.toogle{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: max-content;
    padding: 0.85rem;
    transition: 0.5s ease-in-out;
    border-radius: 50%;

}

.toogle:hover{
    background-color: rgb(71, 70, 70);
    border-radius: 50%;
    opacity: 0.7;

}

.loupe{
    color: white;
}

.loupemaman{

}

.creer{
    height: 37px;
    width: 100px;
    background-color: rgb(71, 70, 70);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.headerenfantgauche{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 150px;
}

.input1 input{
    background-color: inherit;
    padding: 0.5rem 1rem;
    border: 1px solid  rgb(71, 70, 70);

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spancreer{
    color: white;
    font-weight: bold;
}

.input1{
    display: flex;
    align-items: center;
}

.loupemaman{
    width: 50px;
    background-color:  rgb(71, 70, 70);
   padding: 0.5rem;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;

}
.micro{
    color: white;
}
.headerenfantmilieu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.micromaman{
    background-color:  rgb(71, 70, 70);
    width: 40px;
    border-radius: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.ajouter{
    color: white;
}


/* section 1 */

.video{
    width: 300px;
    height: 200px;
    background-color:  rgb(71, 70, 70);
}
.section1{
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}